<?xml version="1.0" encoding="utf-8"?>
<robot name="test_arm">

    <!-- ================= BASE ================= -->
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="meshes/base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="meshes/base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- ================= LINKS ================= -->
    <link name="link1">
        <visual>
            <origin xyz="0 0 -0.01" rpy="1.57079632679 0 0"/>
            <geometry>
                <mesh filename="meshes/link1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 -0.01" rpy="1.57079632679 0 0"/>
            <geometry>
                <mesh filename="meshes/link1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="link2">
        <visual>
            <origin xyz="-0.0575 0 -0.0225" rpy="3.14159265359 -1.57079632679 0"/>
            <geometry>
                <mesh filename="meshes/link2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.0575 0 -0.0225" rpy="3.14159265359 -1.57079632679 0"/>
            <geometry>
                <mesh filename="meshes/link2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="link3">
        <visual>
            <origin xyz="0 0 0.18" rpy="3.14159265359 0 0"/>
            <geometry>
                <mesh filename="meshes/link3.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.18" rpy="3.14159265359 0 0"/>
            <geometry>
                <mesh filename="meshes/link3.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="link4">
        <visual>
            <origin xyz="-0.1625 0 -0.0225" rpy="1.57079632679 0 1.57079632679"/>
            <geometry>
                <mesh filename="meshes/link4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.1625 0 -0.0225" rpy="1.57079632679 0 1.57079632679"/>
            <geometry>
                <mesh filename="meshes/link4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="link5">
        <visual>
            <origin xyz="0 0 0.0225" rpy="-1.57079632679 0 0"/>
            <geometry>
                <mesh filename="meshes/link5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.0225" rpy="-1.57079632679 0 0"/>
            <geometry>
                <mesh filename="meshes/link5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <link name="link6">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="meshes/link6.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="meshes/link6.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

<!-- ================= JOINTS ================= -->

<joint name="joint_base" type="revolute">
    <origin xyz="0 0.01 0" rpy="-1.57079632679 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="2.0"/>
</joint>

<joint name="joint1" type="revolute">
    <origin xyz="0.0225 0 0.0625" rpy="-1.57079632679 0 -1.57079632679"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="2.0"/>
</joint>

<joint name="joint2" type="revolute">
    <origin xyz="-0.0575 0 -0.0225" rpy="0 -1.57079632679 0"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="10" velocity="2.0"/>
</joint>

<joint name="joint3" type="revolute">
    <origin xyz="0 -0.0225 0.1425" rpy="1.57079632679 0 0"/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="2.0"/>
</joint>

<joint name="joint4" type="revolute">
    <origin xyz="-0.125 0 0" rpy="3.14159265359 0 0"/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="2.0"/>
</joint>

<joint name="joint5" type="revolute">
    <origin xyz="-0.06 0 0.0225" rpy="-1.57079632679 0 1.57079632679"/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="2.0"/>
</joint>

</robot>
